@import url('https://fonts.googleapis.com/css2?family= Rowdies :wght@300 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: #b1b1b1;
    align-items: center;
    text-align: center;
}

nav {
    width: 100vw;
    height: 3.5rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #252525;
    font-size: 20px;
}

.ati {
    background-color: #252525;
    font-family: 'Poiret One', cursive;
    color: white;
    text-decoration-line: underline;
    text-decoration-color: #252525;
}

header {
    font-family: 'Poiret One', cursive;
}

p {
    font-size: 17px;
}

img {
    width: 600px;
}

.espaco1 {
    height: 20px;
}

.espaco2 {
    height: 10px;
}

.espaco3 {
    height: 10px;
}